<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <span class="navbar-brand link" routerLink="/home">VP</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active link">
                <span class="nav-link" routerLink="/resume">Resume</span>
            </li>
            <li class="nav-item link">
                <span class="nav-link" routerLink="/project">Project</span>
            </li>
            <li class="nav-item link">
                <span class="nav-link" routerLink="/about">About</span>
            </li>
        </ul>
    </div>
</nav>