<div class="container">
	<div class="row p-5">
		<div class="col-sm-12 col-md-12 col-lg-3 text-center">
			<img src="assets/images/profile_pic.jpg" alt="" width="200px" height="300px"
				style="border-radius: 25%; border-style: double; background-color:teal;">
		</div>
		<div class="col-sm-12 col-md-12 col-lg-9 text-center">
			<div class="hefont mt-2">
				<h4><u>About Me</u></h4>
			</div>
			<div class="afont mt-5">
				<p>I'm a Civil Engineer, but passionate towards Web.
					So I quit my job attended a Boot-camp in Guvi Geeks Pvt Ltd, learning Full Stack Web Development to accomplish
					my dream of becoming a
					passionate Web Developer, and here I'm building my portfolio with my learnings.
					Have a look at my portfolio and my skill set, about how I started to making things happen from a user to a Web
					developer.
				</p>
			</div>
			<div class="row mt-5">
				<div class="col-sm-12 col-md-6 col-lg-6">
					<h5>Contact Details</h5>
					<h6><a href="mailto:vigneshdemitro@gmail.com">vigneshdemitro@gmail.com</a></h6>
					<h6>9790899892</h6>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
					<span class="btn btn-lg btn-outline-dark btn-animation"
						onclick="window.open('https://drive.google.com/open?id=1y4JYCjpfPD4D9AUHKujGkHUEZ1Yv1Lmm','mywindow')">Resume</span>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<app-footer></app-footer>
</div>