<div class="container">
  <div class="row p-5 text-center justify-content-center hefont">
    <h4><u>Project</u></h4>
  </div>
  <!-- <div class="row mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 text-center">
      <div class="hfont">
        <h4>Food Delivery App - US Client</h4>
      </div>
    </div>
    <div class="cfont text-center col-lg-9 col-md-9 col-sm-12 text-center">
      <p>
        Working as a Full Stack developer creating front-end web app with React.Js and
        building restful Api in Node.Js having MongoDB as server.
        Actively learning new technologies from the team.
      </p>
    </div>
  </div>
  <hr> -->
  <div class="row mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 text-center">
      <div class="hfont">
        <h4>COVID-19</h4>
      </div>
    </div>
    <div class="cfont text-center col-lg-9 col-md-9 col-sm-12 text-center">
      <p>
        As a UI enthusiast I designed a simple dashboard listing out the
        current stats of the disease in our country statewise. I'm working constantly to
        uplift the UI to make it look good.
      </p>
      <div class="btn btn-sm btn-animation" (click)="covid()">View</div>
    </div>
  </div>
  <hr>
  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 text-center">
      <div class="hfont">
        <h4>Mind Game</h4>
      </div>
    </div>
    <div class="cfont text-center col-lg-9 col-md-9 col-sm-12 text-center">
      <p>
        A simple Mind Game having a circle where quadrant of a circle glows in a pattern, user has to
        click the quadrant in same order it glowed. As level increases game become tough.
      </p>
      <div class="btn btn-sm btn-animation" (click)="mind()">Source Code</div>
    </div>
  </div>
</div>
<hr>