<div class="container-fluid" id="container">
	<div class="centerdiv text-center">
		<h3>Hello!, I'm <span class="link text-danger" data-toggle="tooltip" data-placement="top"
				title="Click to view my resume" routerLink="/resume">Vigneshwar Pasupathi</span>.</h3>
		<h3>Full Stack Web Developer.</h3>
		<img src="assets/images/git.png" alt="git" onclick="window.open('https://github.com/vigneshdemitro','mywindow')"
			style="cursor:pointer;" width="50px" height="50px">
		<img src="assets/images/in.png" alt="linkedin"
			onclick="window.open('https://www.linkedin.com/in/vigneshwarpasupathi','mywindow')" style="cursor:pointer;"
			width="35px" height="35px">
	</div>
</div>